@model Construcao.Models.Produto

@{
    ViewData["Title"] = "Delete";
}


<h1>Deletar Produto</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pro_Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pro_Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pro_Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pro_Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QntEstoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QntEstoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorias.Cat_Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
