@model IEnumerable<Construcao.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
}

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["Erro"]
    </div>
}


<h1 class="">Categorias cadastradas</h1>

<p>
    <a asp-action="Create" class="btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cat_Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat_Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prioridade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prioridade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Responsavel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriasId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriasId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriasId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
